
@{
    ViewData["Title"] = "扫码关注";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center" style="margin-top:150px">
    <div class="row">
        <img src="~/home/images/qrcode.jpg" style="width: 300px;height: 300px;text-align: center;margin: auto;" />
    </div>

    <div class="row">
        <div style="text-align:center;margin:auto;">
            <span>关注公众号，每天来一碗。</span>
            <br />
            <span style="font-style:oblique">（公众号每天10点，定时推送）</span>
        </div>
    </div>
</div>

